h2{
    border-bottom: solid black 2px;
}
#img {
    height: 100%;
    border-radius: 100%;
    object-fit: contain;  
}

img {
    height: 100%;
    border-radius: 100%;
    object-fit: contain;  
}

#img2{
    display: flex;
    justify-content: center;
}

#contacts{
    display: flex;
}

.a{
    flex-grow: 1;
}

body {    
    background: url(./fon.jpg) no-repeat;
    background-size: 300%;
    background-position-y: center;
font-family: 'Roboto', sans-serif;
margin: auto;
max-width: 1080px;
display: flex;
flex-direction: column;
padding: 40px;
}
header{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.one{
    width: 45%;
    min-width: 320px;
}

.telegram{
    height: 30px;
    width: 30px;
    overflow: hidden;
    margin-right: 15px;
    cursor: pointer;
}

.svg-logo{
    display: flex;
    padding-left: 20px;
}

@media (max-width: 768px) {
    #img {
        width: 250px;
    }
    .one{
        width: 90%;
    }
    body {    
        background-size: 1000%;
    }
}